
@{
    ViewBag.Title = "VerDatosNuevos";
}

<h2>@ViewBag.Prof1.Titulo</h2>
<h2>@ViewBag.Prof1.Nombre</h2>
<h2>@ViewBag.Prof1.Edad</h2>
<h2>@ViewBag.Prof1.Sexo</h2>



<h2>@ViewBag.Alumno1.NotaMedia</h2>
<h2>@ViewBag.Alumno1.Nombre</h2>
<h2>@ViewBag.Alumno1.Edad</h2>
<h2>@ViewBag.Alumno1.Sexo</h2>